/* footer */
/* fooer_inner */
.fooer_inner::after {
  content: "";
  display: block;
  clear: both;
}
/* foot_info */
.foot_info {
  float: left;
  width: 309px;
  height: 247px;
}
.foot_info > p > img {
  padding-bottom: 30px;
}
.foot_info > address {
  font-size: 14px;
}
.foot_info > small {
  display: block;
  font-size: 14px;
  margin: 5px 0 14px;
  color: #54565b;
}
.foot_info > .foot_site::after {
  content: "";
  display: block;
  clear: both;
}
.foot_info > .foot_site > li {
  float: left;
  margin-right: 10px;
}
.foot_info > .foot_site > li > a {
  font-weight: bold;
  font-size: 15px;
}
.foot_info > .foot_site > li > img {
  width: 13px;
  height: 14px;
  padding: 5px;
}
.foot_info > .foot_sns > li {
  float: left;
  display: block;
  padding: 10px 10px 10px 0;
  margin: 15px 15px 0 0;
}
.foot_sns > li:nth-child(2) {
  margin-top: 20px;
}
.foot_info > .foot_sns > li > a > img {
  display: block;
}
.foot_info > .foot_sns > li > a > img:hover {
  opacity: 0.8;
}

/* dite_all */
.site_all {
  float: right;
  margin-right: 770px;
}
.site_all > ul > li {
  float: left;
  margin-right: 60px;
}
.site_all > ul > li > a {
  display: block;
  font-size: 15px;
  font-weight: 800;
  padding-bottom: 28px;
}
.site_all > ul > li > ul > li > a {
  font-size: 15px;
  line-height: 35px;
}

/* foot_line */
.foot_line {
  padding: 0 0 75px;
}
.foot_line > .glover_all {
  position: absolute;
  top: 355px;
}
.foot_line > .glover_all > li {
  float: left;
}
.foot_line > .glover_all > li > a {
  display: block;
  padding-right: 15px;
  font-size: 15px;
}
.foot_line > .glover_all > li::after > a {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 1px;
  height: 14px;
  background: #b2b2b2;
}
.foot_line > .glover_all > li:nth-child(3) > a {
  font-weight: bold;
  color: #101820;
}
/* family_site */
.family_site {
  position: absolute;
  left: 1440px;
  top: 355px;
}
.family_site > dd > a {
  font-weight: 500;
  display: block;
  font-size: 15px;
  padding-right: 120px;
  font-weight: 500;
  background: url(../images/ico_gnb_updown.png) no-repeat 180px -40px;
}
.family_site.on > dd > a {
  background-position: 180px 5px;
}
.family_site > dd::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 210px;
  height: 1px;
  background: #54565b;
}
.family_site > dd > ul {
  display: none;
  position: absolute;
  text-align: left;
  top: -200px;
  width: 180px;
  height: 179px;
  border: 1px solid #e3e4e5;
  padding: 15px 0;
  background: #f7f7f7;
}
.family_site.on > dd > ul {
  display: block;
}
.family_site > dd > ul > li {
  margin: 0 20px 0 0;
  padding: 1px 20px;
}
.family_site > dd > ul > li > a {
  font-weight: 500;
}

/* top */
.btn_top {
  z-index: 100;
  position: fixed;
  bottom: 380px;
  right: 250px;
  width: 40px;
  height: 40px;
  background: #101820 url(../images/top_btn_icon.png) no-repeat 50% 50%;
  border: 1px solid #333;
  line-height: 80px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}
