/* content1 */
ul.slide_wrap {
  position: absolute;
  width: 100%;
  height: 934px;
}
li.slide {
  position: absolute;
  left: 0;
  top: 0;

  opacity: 0;
  width: 100%;
  height: 100%;
}
li.slide.active {
  z-index: 3;
  display: block;
  opacity: 1;
}
li.slide > video {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}
li.slide > p {
  display: block;
  position: absolute;
  left: 375px;
  top: 540px;
  color: #fff;
}
li.slide > p > strong {
  font-size: 64px;
  font-weight: bold;
  margin: 0 0 10px;
}
li.slide > p > em {
  padding-left: 10px;
  font-size: 20px;
  margin: 0 0 40px;
}

li.slide > div > a {
  position: absolute;
  top: 690px;
  left: 380px;
  width: 107px;
  height: 52px;
  display: block;
  font-size: 17px;
  box-sizing: border-box;
  padding: 14px 29px;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.28s ease 0s;
}
li.slide > div > a:hover {
  color: #fff;
  border: 1px solid #0071e3;
  box-shadow: 107px 0 0 0 rgba(0, 113, 227, 1) inset;
}

.slide_roll {
  z-index: 10;
  position: absolute;
  left: 460px;
  transform: translateX(-50%);
  top: 800px;
}

.slide_roll > ul > li {
  float: left;
  padding: 0 10px 0 0;
}
.slide_roll > ul > li > a {
  display: block;
  width: 40px;
  height: 2.5px;
  background: #999;
  text-indent: -9999px;
  overflow: hidden;
}
div.slide_roll > ul > li.on > a {
  background: #fff;
}
/* content2 */
.content2 > section {
  z-index: 2;
  position: relative;
  top: 934px;
  left: 0;
  width: 100%;
  height: 950px;
  background: url(../images/bg_content_02.png) no-repeat 0 0;
  background-size: cover;
}
.content2 > section > div > p {
  position: absolute;
  top: 350px;
  left: 400px;
  color: #000;
}
.content2 > section > div > p > strong {
  font-size: 46px;
  font-weight: bold;
}
.content2 > section > div > p > em {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 30px;
}

.content2 > section > div > div > a {
  position: absolute;
  top: 580px;
  left: 402px;
  border: 1px solid #6a6f73;
  display: block;
  font-size: 17px;
  text-align: center;
  padding: 12px 29px;
  box-sizing: border-box;
  width: 106.92px;
  height: 50px;
}
.content2 > section > div > div > a:after {
  content: "";
  width: 0%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #0071e3;
  transition: all 0.28s ease 0s;
}
.content2 > section > div > div > a:hover {
  color: #fff;
  border: 1px solid #0071e3;
}
.content2 > section > div > div > a:hover:after {
  width: 100%;
  z-index: -1;
}

/* content3 */
.content3 > section {
  z-index: 2;
  position: relative;
  top: 934px;
  left: 0;
  width: 100%;
  height: 950px;
  background: url(../images/bg_content_03.png) no-repeat 0 0;
  background-size: cover;
}
.content3 > section > div > p {
  position: absolute;
  top: 350px;
  left: 400px;
  color: #000;
}
.content3 > section > div > p > strong {
  font-size: 46px;
  font-weight: bold;
}
.content3 > section > div > p > em {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 30px;
}
.content3 > section > div > div > a {
  position: absolute;
  top: 720px;
  left: 402px;
  border: 1px solid #6a6f73;
  display: block;
  font-size: 17px;
  text-align: center;
  padding: 12px 29px;
  box-sizing: border-box;
  width: 106.92px;
  height: 50px;
}
.content3 > section > div > div > a:after {
  content: "";
  width: 0%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #0071e3;
  transition: all 0.28s ease 0s;
}
.content3 > section > div > div > a:hover {
  color: #fff;
  border: 1px solid #0071e3;
}
.content3 > section > div > div > a:hover:after {
  width: 100%;
  z-index: -1;
}
/* content4 */
.content4 > section {
  z-index: 2;
  position: relative;
  top: 934px;
  left: 0;
  width: 100%;
  height: 950px;
  background: url(../images/bg_content_04.png) no-repeat 0 0;
  background-size: cover;
}
.content4 > section > div > p {
  position: absolute;
  top: 350px;
  left: 400px;
  color: #000;
}
.content4 > section > div > p > strong {
  font-size: 46px;
  font-weight: bold;
}
.content4 > section > div > p > em {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 30px;
}

.content4 > section > div > div > a {
  position: absolute;
  top: 646.5px;
  left: 402px;
  border: 1px solid #6a6f73;
  display: block;
  font-size: 17px;
  text-align: center;
  padding: 12px 29px;
  box-sizing: border-box;
  width: 106.92px;
  height: 50px;
}
.content4 > section > div > div > a:after {
  content: "";
  width: 0%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #0071e3;
  transition: all 0.28s ease 0s;
}
.content4 > section > div > div > a:hover {
  color: #fff;
  border: 1px solid #0071e3;
}
.content4 > section > div > div > a:hover:after {
  width: 100%;
  z-index: -1;
}
/* content5 */
.content5 > section {
  position: relative;
  top: 934px;
  left: 0;
  width: 100%;
  height: 950px;
  background: url(../images/bg_content_05.png) no-repeat 0 0;
  background-size: cover;
}
.content5 > section > div {
  color: #000;
  position: absolute;
  top: 400px;
  left: 385px;
}
.content5 > section > div > p > strong {
  font-size: 46px;
  font-weight: bold;
}
.content5 > section > div > p > em {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 30px;
}

.content5 > section > div > div > a {
  position: absolute;
  left: 0;
  top: 300px;
  z-index: 3;
  border: 2px solid #6a6f73;
  font-size: 17px;
  text-align: center;
  padding: 14px 29px;
}
.content5 > section > div > div > a:after {
  content: "";
  width: 0%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #0071e3;
  transition: all 0.28s ease 0s;
}
.content5 > section > div > div > a:hover {
  color: #fff;
  border: 1px solid #0071e3;
}
.content5 > section > div > div > a:hover:after {
  width: 100%;
  z-index: -1;
}
/* content6 */
.content6 > section {
  position: absolute;
  top: 1050px;
  height: 934px;
  width: 100%;
}
.content6 > section > h2 {
  display: block;
  font-size: 68px;
  color: #101820;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 40px;
}
.content6 > section > ul > li {
  float: left;
  width: 340px;
  padding-right: 60px;
  overflow: hidden;
  cursor: pointer;
}
.content6 > section > ul > li > span {
  transform: scale(1);
  transition: all 0.3s ease-out;
}
.content6 > section > ul > li:hover > span {
  transform: scale(1.1);
}
.content6 > section > ul > li:first-of-type > span {
  display: block;
  background: url(../images/bg_product_01.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 340px;
  height: 262px;
  text-indent: -9999px;
  overflow: hidden;
}
.content6 > section > ul > li:nth-of-type(2) > span {
  display: block;
  background: url(../images/bg_product_02.jpg) no-repeat 0 0;
  background-size: contain;
  width: 340px;
  height: 314px;
  text-indent: -9999px;
  overflow: hidden;
}
.content6 > section > ul > li:last-of-type > span {
  display: block;
  background: url(../images/bg_product_03.jpg) no-repeat 0 0;
  background-size: contain;
  width: 340px;
  height: 428px;
  text-indent: -9999px;
  overflow: hidden;
}
.content6 > section > ul > li > h3 {
  display: inline-block;
  font-size: 14px;
  padding: 5px 9px;
  line-height: 1.4;
  box-sizing: border-box;
  background-color: #54565b;
  color: #fff;
  margin: 25px 0 0;
}
.content6 > section > ul > li > p {
  display: block;
  margin: 25px 0 0;
}
.content6 > section > ul > li > p > strong {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  color: #101820;
  font-size: 20px;
  font-weight: 900;
}
.content6 > section > ul > li > p > strong:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 28px;
  width: 100%;
  border: 0.5px solid #101820;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.content6 > section > ul > li:hover > p > strong:after {
  transform: scaleX(1);
}
.content6 > section > ul > li:last-of-type > p > strong::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 58px;
  width: 100%;
  border: 0.5px solid #101820;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.content6 > section > ul > li:last-of-type:hover > p > strong::after {
  transform: scaleX(1);
}
.content6 > section > ul > li > p > em {
  color: #54565b;
  margin: 0 4px 0 0;
  font-size: 15px;
  margin-bottom: 25px;
}
.content6 > section > ul > li > p > span {
  display: block;
  color: #76777b;
  font-size: 15px;
  margin-top: 25px;
}
.content6 > section > div {
  position: absolute;
  top: 25px;
  right: 70px;
  width: 34px;
  height: 34px;
  border: 1px solid #101820;
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.2s ease 0s;
}
.content6 > section > div > a {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  background: url(../images/btn_plus_ico_b.png) no-repeat 50% 50%;
  transition: all 0.4s ease 0s;
}
.content6 > section > div:hover {
  background: #000;
}
.content6 > section > div > a:hover {
  background: url(../images/btn_plus_ico_w.png) no-repeat 50% 50%;
  transform: rotate(90deg);
  width: 34px;
  height: 34px;
}
/* content7 */
.banner_frame {
  position: relative;
  width: 300%;
  height: 934px;
  top: 10px;
  left: 0;
  overflow: hidden;
}
.banner_frame > section {
  width: 33.333%;
  float: left;
  height: 820px;
  transform: scale(1);
  transition: all 0.3s ease-out;
  background-size: cover;
}
.content7_inner h2 {
  display: block;
  font-size: 68px;
  color: #101820;
  font-weight: bold;
  line-height: 1.2;
  margin: 120px 0 0 400px;
  padding-bottom: 40px;
}
.banner_frame > section {
  width: 1130px;
  height: 635px;
  margin-left: 65px;
}
.banner_frame > section:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}
.banner_frame > section:first-of-type {
  background: url(../images/bg_Lounge_01.jpg) no-repeat 50% 0;
  background-size: cover;
  margin-left: 400px;
}
.banner_frame > section:nth-of-type(2) {
  background: url(../images/bg_Lounge_02.jpg) no-repeat 50% 0;
  background-size: cover;
}
.banner_frame > section:nth-of-type(3) {
  background: url(../images/bg_Lounge_03.jpg) no-repeat 50% 0;
  background-size: cover;
}
.banner_frame > section > ul {
  display: block;
  margin: 460px 62px 0;
  color: #fff;
}
.banner_frame > section > ul > li:first-of-type {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
}
.banner_frame > section > ul > li:nth-of-type(2) {
  display: block;
  font-size: 15px;
  margin: 10px 4px 0;
}
.banner_frame > section > ul > li:nth-of-type(3) {
  display: block;
  font-size: 15px;
  margin: 10px 4px 0;
}
.banner_frame > section > ul > li:nth-of-type(2).on {
  margin: 0;
}
.banner_frame > section > ul > li:nth-of-type(3).on {
  margin: 0;
}
.banner_frame > section > ul > li:first-of-type:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border: 0.5px solid #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.banner_frame > section:hover > ul > li:first-of-type:after {
  transform: scaleX(1);
}

.content7_inner .plus {
  position: absolute;
  top: 50px;
  left: 1465px;
  width: 34px;
  height: 34px;
  border: 1px solid #101820;
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.2s ease 0s;
}
.content7_inner .plus a {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  background: url(../images/btn_plus_ico_b.png) no-repeat 50% 50%;
  transition: all 0.4s ease 0s;
}
.content7_inner .plus:hover {
  background: #000;
}
.content7_inner .plus a:hover {
  background: url(../images/btn_plus_ico_w.png) no-repeat 50% 50%;
  transform: rotate(90deg);
  width: 34px;
  height: 34px;
}
.lounge_arr {
  position: absolute;
  top: 160px;
  left: 330px;
  width: 960px;
}
.lounge_arr > a {
  float: left;
}
.lounge_arr > .btn_prev {
  position: absolute;
  left: 1065px;
  top: 670px;
  display: block;
  width: 11px;
  height: 19px;
  background: url(../images/icon_btn_arrow1_g.png) no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}
.lounge_arr > .btn_prev.on {
  background: url(../images/icon_btn_arrow1_b.png) no-repeat 0 0;
}

.lounge_arr > div > span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #54565b;
}
.lounge_arr > div > span.one {
  position: absolute;
  left: 1099px;
  top: 670px;
  opacity: 1;
}
.lounge_arr > div > span.one.on {
  opacity: 0;
}
.lounge_arr > div > span.two {
  position: absolute;
  left: 1099px;
  top: 670px;
  opacity: 0;
}
.lounge_arr > div > span.two.on {
  opacity: 1;
}
.lounge_arr > div > span.three {
  width: 30px;
  position: absolute;
  left: 1119px;
  top: 670px;
}
.lounge_arr > .btn_next {
  position: absolute;
  left: 1165px;
  top: 670px;
  display: block;
  width: 11px;
  height: 19px;
  background: url(../images/icon_btn_arrow_b.png) no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}
.lounge_scroll {
  z-index: 10;
  position: absolute;
  top: 840px;
  left: 910px;
  transform: translateX(-50%);
  bottom: 30px;
}
.lounge_scroll > ul > li {
  float: left;
}
.lounge_scroll > ul > li > a {
  z-index: 10;
  display: block;
  background: #101820;
  text-indent: -9999px;
  overflow: hidden;
}
.lounge_scroll > ul > li:first-of-type > a {
  opacity: 1;
  display: block;
  width: 323px;
  height: 4px;
}

.lounge_scroll > ul > li:nth-of-type(2) > a {
  opacity: 0;
  display: block;
  margin-right: 323px;
  margin-top: -4px;
  width: 646px;
  height: 4px;
}
.lounge_scroll > ul > li:last-of-type > a {
  opacity: 0;
  display: block;
  margin-top: -4px;
  width: 969px;
  height: 4px;
}
.lounge_scroll > ul > li.on > a {
  opacity: 1;
}
.lounge_scroll > span {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 969px;
  height: 4px;
  background: #c9c9c9;
  text-indent: -9999px;
  overflow: hidden;
}
/* content8 */
.content8 > section {
  position: absolute;
  width: 100%;
  height: 700px;
  top: 1300px;
}
.career_list {
  float: left;
  width: 537px;
  height: 462px;
}
.career_list > h3 {
  margin-top: -20px;
  font-size: 42px;
  font-weight: bold;
}
.career_list > ul > li {
  border-bottom: 1px solid #c9cbcc;
  padding: 18px 0;
}

a > .career_cate {
  font-size: 20px;
  margin: 0 0 9px;
  font-weight: 700;
}
a > .first {
  padding-top: 18px;
  border-top: 1px solid #c9c9c9;
}
a > .career_title {
  display: inline-block;
  font-size: 20px;
  width: 324px;
}
a > .career_date {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  color: #54565b;
}
a > .career_type {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
  color: #54565b;
  text-align: right;
}
.career_list > .etc_c_more {
  position: absolute;
  top: -5px;
  left: 500px;
  width: 34px;
  height: 34px;
  border: 1px solid #101820;
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.2s ease 0s;
}
.career_list > .etc_c_more > a {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  background: url(../images/btn_plus_ico_b.png) no-repeat 50% 50%;
  transition: all 0.4s ease 0s;
}
.career_list > .etc_c_more:hover {
  background: #000;
}
.career_list > .etc_c_more > a:hover {
  background: url(../images/btn_plus_ico_w.png) no-repeat 50% 50%;
  transform: rotate(90deg);
  width: 34px;
  height: 34px;
}

.contact_us {
  display: block;
  margin-top: -80px;
  margin-right: 40px;
  float: right;
  width: 537px;
  height: 445px;
  background: #f7f7f7;
}
.contact_us > section {
  width: 456px;
  height: 364px;
  margin: 0 auto;
}
.contact_us > section > h3 {
  margin-top: 60px;
  font-size: 42px;
  font-weight: bold;
}
.contact_us > section > .contact_help > h4 {
  border-top: 1px solid #c9cbcc;
  margin: 18px 0 10px 0;
  padding-top: 18px;
  font-weight: 700;
  font-size: 20px;
}
.contact_us > section > .contact_help > p {
  font-size: 18px;
}
.contact_us > section > .contact_help > span {
  position: absolute;
  top: 100px;
  right: 80px;
  border: 1px solid #6a6f73;
  display: block;
  font-size: 17px;
  text-align: center;
  padding: 12px 29px;
  box-sizing: border-box;
  width: 122.56px;
  height: 50px;
  background: #101820;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.contact_us > section > .contact_help > span:hover {
  color: #fff;
  border: 1px solid #0071e3;
  box-shadow: 122.56px 0 0 0 rgba(0, 113, 227, 1) inset;
}

.contact_us > section > .contact_qna {
  display: block;
  padding: 50px 0 0;
}
.contact_us > section > .contact_qna > h4 {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 15px;
}
.contact_us > section > .contact_qna > ul > li {
  display: inline-block;
  margin: 5px 5px 20px 0;
}
.contact_us > section > .contact_qna > ul > li > a {
  padding: 6.5px 19.5px;
  border: 1px solid #2b2d35;
  color: #101820;
  border-radius: 5px;
  font-size: 16px;
}
.contact_us > section > .contact_qna > ul > li:hover > a {
  color: #fff;
  border-color: #101820;
  background-color: #101820;
}

.contact_us > section > .etc_c_more {
  position: absolute;
  top: -5px;
  left: 1080px;
  width: 34px;
  height: 34px;
  border: 1px solid #101820;
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.2s ease 0s;
}
.contact_us > section > .etc_c_more > a {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  background: url(../images/btn_plus_ico_b.png) no-repeat 50% 50%;
  transition: all 0.4s ease 0s;
}
.contact_us > section > .etc_c_more:hover {
  background: #000;
}
.contact_us > section > .etc_c_more > a:hover {
  background: url(../images/btn_plus_ico_w.png) no-repeat 50% 50%;
  transform: rotate(90deg);
  width: 34px;
  height: 34px;
}
/* content9 */
.content9 > section {
  position: absolute;
  left: 391px;
  top: 166px;
}
.content9 > section > p {
  font-size: 28px;
  color: #fff;
  text-align: left;
}
.content9 > section > div > a {
  position: absolute;
  top: 107px;
  left: 0px;
  border: 1px solid #fff;
  display: block;
  font-size: 17px;
  text-align: center;
  padding: 12px 29px;
  box-sizing: border-box;
  width: 106.92px;
  height: 50px;
  color: #fff;
  transition: all 0.28s ease 0s;
}

.content9 > section > div > a:hover {
  color: #fff;
  border: 1px solid #0071e3;
  box-shadow: 122.56px 0 0 0 rgba(0, 113, 227, 1) inset;
}

/* content10 */
.content10 > section {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 1074px;
}
.content10 > section > h2 {
  position: absolute;
  top: -50px;
  font-size: 68px;
  font-weight: bold;
}
.content10 > section > ul > li {
  margin: 60px 62px 0 0;
  float: left;
  overflow: hidden;
}
.content10 > section .bg {
  position: relative;
  width: 334px;
  height: 336px;
  object-fit: cover;
  transform: scale(1);
  transition: 0.4s ease-out;
}
.content10 > section > ul > li:hover > a > .bg {
  transform: scale(1.1);
}
.content10 > section > ul > li > span {
  z-index: 100;
  position: absolute;
}
.content10 > section > ul > li:nth-child(1) > span {
  bottom: 695px;
  left: 285px;
}
.content10 > section > ul > li:nth-child(2) > span {
  bottom: 695px;
  left: 685px;
}
.content10 > section > ul > li:nth-child(3) > span {
  bottom: 695px;
  left: 1080px;
}
.content10 > section > ul > li:nth-child(4) > span {
  top: 750px;
  left: 285px;
}
.content10 > section > ul > li:nth-child(5) > span {
  top: 750px;
  left: 685px;
}
.content10 > section > ul > li:nth-child(6) > span {
  top: 750px;
  left: 1080px;
}
.content10 > section .sns {
  display: block;
  width: 25px;
  height: 25px;
}
.content10 > section > div {
  position: absolute;
  top: -20px;
  right: 70px;
  width: 34px;
  height: 34px;
  border: 1px solid #101820;
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.2s ease 0s;
}
.content10 > section > div > a {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  background: url(../images/btn_plus_ico_b.png) no-repeat 50% 50%;
  transition: all 0.4s ease 0s;
}
.content10 > section > div:hover {
  background: #000;
}
.content10 > section > div > a:hover {
  background: url(../images/btn_plus_ico_w.png) no-repeat 50% 50%;
  transform: rotate(90deg);
  width: 34px;
  height: 34px;
}