body {
  overflow-x: hidden;
}
/* header */
/* 로고 */
h1.logo_b {
  position: absolute;
  left: 277px;
  top: 20px;
}
h1.logo_b > a {
  display: block;
  width: 134px;
  height: 20px;
  background: url(../images/logo_b.png) no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}
/* 주메뉴 */
nav.gnb {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #d8d8d8;
}

nav.gnb > ul {
  width: 100%;
  text-align: center;
}
nav.gnb > ul > li {
  display: inline-block;
  padding: 10px 30px;
  line-height: 54px;
}
nav.gnb > ul > li:hover {
  background: #fff;
}

nav.gnb > ul > li > a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color: #101820;
}
nav.gnb > ul > li > a:after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background: #000;
  transition: all 0.4s ease 0s;
}
nav.gnb > ul > li:hover > a:after {
  width: 150%;
  height: 5px;
  opacity: 1;
}
nav.gnb > ul > li > div > ul > li a:after {
  display: block;
  content: "";
  border-bottom: solid 1px #5b5b5b;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
nav.gnb > ul > li > div > ul > li a:hover:after {
  transform: scaleX(1);
}
nav.gnb > ul > li > div {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}
nav.gnb > ul > li:hover > div {
  display: block;
  background: #fff;
  border-top: 1px solid #d8d8d8;
}
nav.gnb > ul > li > div > ul > li {
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
  text-align: left;
  line-height: 32px;
}

nav.gnb > ul > li > div > ul > li > ul {
  float: left;
}
/* nav.gnb > ul > li > div > ul:nth-of-type(1) > li {
    margin-left: -450px;
  } */
nav.gnb > ul > li > div > ul > li > a {
  display: block;
  font-size: 15px;
  color: #101820;
  font-weight: 700;
}
nav.gnb > ul > li > div > ul > li > ul > li > a {
  font-size: 15px;
  color: #54565b;
  font-weight: 400;
}

/* 탑메뉴 */

.topMenu {
  position: absolute;
  right: 290px;
  top: 0;
  font-size: 14px;
  margin: 0 30px;
  font-weight: 700;
}
.topMenu > dd {
  width: 110px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  color: #fff;
  cursor: pointer;
  background: url(../images/btn_bottom_ico_b.png) no-repeat 80% 52%;
}
.topMenu > dd > a {
  display: block;
  opacity: 0;
  width: 110px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  background: #fff;
}
.topMenu > dd:hover > a {
  opacity: 1;
}
nav.gnb:hover > .top_menu > .topMenu > dd {
  background: url(../images/btn_bottom_ico_b.png) no-repeat 80% 52%;
}
.topMenu > dd {
  color: #101820;
}
.topMenu > dd > a {
  border: 1px solid #d8d8d8;
  color: #c8cacb;
}
nav.gnb:hover > .top_menu > .topMenu > dd {
  color: #000;
}

/* 검색버튼 */
nav.gnb:hover > .top_menu > div.btn_srch a {
  background: url(../images/btn_srch_ico_b.png) no-repeat 50% 50%;
}

div.btn_srch {
  position: absolute;
  right: 285px;
  top: 0;
}
div.btn_srch a {
  display: block;
  width: 20px;
  height: 64px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/btn_srch_ico_b.png) no-repeat 50% 50%;
}

/* 검색박스 */
.srch_inner > h1.logo_b {
  position: absolute;
  left: 277px;
  top: 20px;
}
.srch_inner > h1.logo_b > a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 134px;
  height: 20px;
  background: url(../images/logo_b.png) no-repeat 0 0;
}
div.srch_box {
  z-index: 100;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
}
div.srch_inner {
  height: 320px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  padding-top: 60px;
  background: #fff;
}
div.srch_inner > form {
  width: 727px;
  margin: 0 auto;
  /* border-bottom: 1px solid #D8D8D8; */
}
div.srch_inner > form > fieldset {
  width: 655px;
  height: 55px;
  margin-bottom: 20px;
}
div.srch_inner input[type="search"] {
  position: absolute;
  width: 600px;
  height: 64px;
  border: none;
  top: 0px;
  font-size: 15px;
  font-weight: 700;
  color: #54565b;
}
div.srch_inner button[type="button"] {
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  left: 1290px;
  top: 20px;
  background: url(../images/btn_srch_ico_b.png) no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
}
div.srch_inner > form > h2 {
  position: absolute;
  left: 0;
  top: 64px;
  border-top: 1px solid #d3d3d3;
  width: 100%;
  text-indent: -9999px;
  overflow: hidden;
}
div.srch_inner > form > h3 {
  position: absolute;
  top: 100px;
  font-size: 16px;
  font-weight: bold;
  color: #76777b;
}
div.srch_inner form > ul {
  padding-top: px;
}
div.srch_inner form > ul > li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 4px;
  padding: 4px 10px;
  border-radius: 5px;
  color: #76777b;
  background: #f7f7f7;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  transition: 0.2s;
}
a.btn_srch_close {
  position: absolute;
  right: 282px;
  display: block;
  width: 60px;
  height: 70px;
  background: url(../images/btn_close_ico.png) no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
}
/* content1 */
.sub2_content1 > h2 {
  width: 1130px;
  /* height: 294px; */
  font-size: 64px;
  font-weight: bold;
  margin: 0 0 50px 338px;
}
.btn {
  margin-left: 285px;
}
.btn > input {
  width: 99.89px;
  height: 40px;
  border: 1px solid #101820;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  margin: 0 5px;
}
.btn > input:nth-of-type(2) {
  display: inline-block;
  background: #101820;
  color: #fff;
}
.management {
  width: 904px;
  margin: 60px 0;
  font-size: 15px;
  text-align: center;
}
.management thead th {
  height: 49px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  text-align: center;
  font-size: 15px;
}
.management thead th:first-child {
  width: 150px;
}
.management thead th:nth-of-type(2) {
  width: 433px;
}
.management thead th:nth-of-type(3) {
  width: 150px;
}
.management thead th:last-of-type {
  width: 166px;
}
.management tbody td {
  height: 52px;
  border: 1px solid #ccc;
  text-align: center;
  border-top: none;
  font-size: 15px;
}
.management tbody td:last-of-type a:last-of-type {
  display: block;
  margin-left: 22px;
  padding: 8px 20px 0 0;
  box-sizing: border-box;
  border: 1px solid #101820;
  width: 122.48px;
  height: 38.16px;
  background: url(../images/btn_downlode.png) no-repeat 80% 50%;
}
.num {
  position: absolute;
  top: 900px;
  left: 350px;
  width: 234px;
}
.num > ul > li {
  display: inline-block;
  font-size: 15px;
  width: 36px;
  height: 36px;
  font-weight: 500;
}
.num > ul > li:first-of-type {
  font-weight: 800;
}
.num > ul > li:first-of-type::after {
  content: "";
  width: 22px;
  height: 2px;
  position: absolute;
  top: 25px;
  left: -6px;
  background: #101820;
}
.num > span {
  position: absolute;
  top: -2px;
  left: -36px;
  width: 6px;
  height: 8px;
}
.num > span:last-of-type {
  position: absolute;
  top: -2px;
  left: 200px;
}
